[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
coverage = "*"
pytest-cov = "*"
mypy = "*"
requests = "*"

[packages]
starlette = "*"
uvicorn = {extras = ["standard"], version = "*"}
aiofiles = "*"

[requires]
python_version = "3.8"
